.profile_page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 50px;
  }
  .profile_page .col-left {
    max-width: 500px;
    min-width: 450px;
    padding: 0 50px;
    padding-bottom: 30px;
    margin: auto 0;
    margin-left: 36.5%;
    border-radius: 20px;
    box-shadow: 2px 3px 20px #333;
  }
  
  .profile_page .col-left .avatar {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin: 15px auto;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
  }
  .profile_page .col-left img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  
  .profile_page .col-left .avatar span {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    background: #fff8;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(255, 140, 45);
    transition: 0.3s ease-in-out;
  }
  .profile_page .col-left .avatar:hover span {
    bottom: -15%;
  }
  .profile_page .col-left #file_up {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }
  
  .profile_page .col-left h2 {
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #333;
    margin: 10px 0;
  }
  .profile_page .col-left label {
    display: block;
    margin-top: 5px;
  }
  .profile_page .col-left input {
    width: 100%;
    height: 40px;
    margin: 5px 0;
    border: 1px solid;
    outline: none;
    background: rgb(255, 255, 255);
    padding: 0 5px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 4px 5px #333;
    margin-bottom: 30px;
  }
  
  .profile_page .col-left button {
    width: 150px;
    padding: 15px 0;
    color: white;
    background: linear-gradient(to right, #e44d26, #f16529);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 6px #111;
    margin-left: 16px;
  }
  
  /*------------Col Form disable ------------*/
  .profile_page .col-form {
    max-width: 400px;
    min-width: 300px;
    padding: 0 50px;
    margin: auto 0;
  
    border-radius: 20px;
    box-shadow: 2px 3px 20px #333;
  }
  
  .profile_page .col-form .avatar {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin: 15px auto;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
  }
  .profile_page .col-form img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  
  .profile_page .col-form .avatar span {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    background: #fff8;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(255, 140, 45);
    transition: 0.3s ease-in-out;
  }
  .profile_page .col-form .avatar:hover span {
    bottom: -15%;
  }
  .profile_page .col-form #file_up {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }
  
  .profile_page .col-form h2 {
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #333;
    margin: 10px 0;
  }
  .profile_page .col-form label {
    display: block;
    margin-top: 5px;
  }
  .profile_page .col-form input {
    width: 100%;
    height: 40px;
    margin: 5px 0;
    border: 1px solid;
    outline: none;
    background: rgb(255, 255, 255);
    padding: 0 5px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 4px 5px #333;
    margin-bottom: 30px;
  }
  
  .profile_page .col-form button {
    background: #333;
    color: white;
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
  
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 90px;
  }
  /* ----------- Col Right----------- */
  .profile_page .col-right {
    padding: 0 10px;
    flex: 1;
    min-width: 300px;
  }
  .profile_page .col-right h2 {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #333;
    margin: 10px 0;
  }
  
  /* ------------ Table------------ */
  .customers {
    border-collapse: collapse;
    width: 100%;
  }
  .customers td,
  .customers th {
    border: 1px solid #ddd;
    padding: 8px;
    min-width: 100px;
  }
  .customers tr:nth-child(even) {
    background: #f2f2f2;
  }
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: #555;
    color: white;
  }
  .customers i {
    cursor: pointer;
  }
  .customers .fa-check {
    color: green;
  }
  .customers .fa-times {
    color: red;
  }
  .customers .fa-edit {
    background: whitesmoke;
    padding: 7px;
    color: #555;
    font-size: 10px;
  }
  .customers .fa-trash-alt {
    background: red;
    padding: 7px;
    color: white;
    font-size: 10px;
    margin-left: 7px;
  }
  
 
  
  .mid-form {
    width: 50%;
    margin: 0px auto;
    margin-left: 0px;
    margin-top: 100px;
    border: 1px solid;
    margin-left: 430px;
    border-radius: 20px;
    box-shadow: 2px 5px 10px;
    text-align: center;
    padding: 50px;
  }
  
  
  
  .form-input {
    width: 70%;
    height: 50px;
    margin: 5px 0;
  
    outline: none;
    background: rgb(255, 255, 255);
    padding: 0 5px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 4px 5px #333;
    margin-bottom: 30px;
  }
  
  .mid-form label {
    display: block;
    float: left;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 17px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    min-height: 30px;
    padding: 1px;
    margin-bottom: 5px;
    transition: 300ms all;
  }
  
  input[type="text"]:focus,
  textarea:focus {
    box-shadow: 0px 0px 5px #eee inset;
  }


  