.login_page {
  max-width: 500px;
  margin: auto;
  color: #444;
  padding: 10px 30px 30px;
  border: 0px solid #111;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 5px 3px 10px #111;
  text-align: center;
}
.login_page h2 {
  text-transform: uppercase;
  margin-top: 50px;
  margin: auto;
  letter-spacing: 1.5px;
  font-size: 40px;
}

.login_page input {
  width: 100%;
  height: 45px;
  margin: 10px 0;
  outline: none;
  padding: 0 10px;
  border-radius: 10px;
  
}
.login_page .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
}
.login_page .row a {
  color: crimson;
}
.login_page .row button {
  width: 150px;
  padding: 10px 0;
  color: white;
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: auto;
  margin-top: 10px;
  border-radius: 15px;
  box-shadow: 1px 1px 6px #111;
}
.login_page p {
  margin: 10px 0;
}
.login_page a {
  color: #111;
  font-weight: 600;
}


input[type="radio"] {
  width: 20px;
  margin-top: 10px;
  margin-left: 50px;
  nav-left: auto;
}
input[type="checkbox"] {
  width: 20px;
  float: left;
  margin-top: 17px;
  margin-left: 20px;
}
.radio-user {
  margin-left: -60px;
  margin-top: -20px;
}
